Synapse POC/pipeline/pl_Sales_Bronze_Silver.json
{
	"name": "pl_Sales_Bronze_Silver",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Sales Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParquetSales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Sales Data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ParquetSales",
									"type": "DatasetReference"
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata1').output.lastModified, variables('maxTime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "maxTime",
											"value": {
												"value": "@activity('Get Metadata1').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('maxTime')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PurchaseDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "PurchaseDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DeliveryDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "DeliveryDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "HCP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "HCP",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReferralSource",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReferralSource",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubReferralSource",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubReferralSource",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Manufacturer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Manufacturer",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SN",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "NetSales",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NetSales",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "NetUnits",
									"type": "Int64",
									"physicalType": "String"
								},
								"sink": {
									"name": "NetUnits",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CustomerIdName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerIdName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SycleExportDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "SycleExportDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubReferralSourceCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubReferralSourceCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FranchiseOwner",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FranchiseOwner",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedTextSales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetSales",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "finalTime",
					"value": {
						"value": "@variables('maxTime')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"maxTime": {
				"type": "String",
				"defaultValue": "2023-09-25"
			},
			"finalTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-27T10:34:02Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}